*{
    margin: 0;
    padding: 0;
}

form{
    width: 300px;
    height: 300px;
    background-color: aqua;
}
button{
    margin-left: 100px;
    height: 30px;
    width: 60px;
    border-radius: 50px;
}
label{
    text-align: center;
}
